.player {
    // height: 240px;
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 24px;
    margin: 24px;
    border: 1px solid white;
    border-radius: 12px;
    .score-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        // margin-left: 24px;
        .score {
            color: white;
            font-size: 72px;
            font-weight: 400;
        }
    }
    .plus-container {
        border-left: 1px dotted white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 42px;
        padding-right: 24px;
        .plus {
            height: 60px;
            width: 60px;
        }
    }
}